@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --color-principal: #2E948A;
    --color-secundaria: #FF4081;
    --font-family-principal: 'Ubuntu', sans-serif;
}

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFF;
    font-family: var(--font-family-principal);
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    background-color: var(--color-principal);
    align-items: center;
    padding: 0.7rem;
    margin: auto;
    font-size: 0.8rem;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.div-logo-header {
    display: flex;
    background-color: var(--color-principal);
    /* max-height: 3rem; */
}

.link-logo {
    display: flex;
    background-color: var(--color-principal);
}

.logo {
    display: flex;
    max-height: 3rem;
    padding: 0.5rem;
    margin: 0 0 0 1rem;
    background-color: var(--color-principal);
}

.list-header {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    background-color: var(--color-principal);
}

.item-list-header {
    background-color: var(--color-principal);
    margin: 0 0.3rem 0 0;
}

.link-list-header {
    display: flex;
    text-decoration: none;
    padding: 0.2rem;
    background-color: var(--color-principal);
    color: #FFF;
    font-weight: bold;
    font-family: var(--font-family-principal);
    margin: 0 0.25rem 0 0;
}

.intro-titulo {
    margin-top: 81px;
    margin-left: 82px;
    font-size: 60px;
    font-weight: 700;
    color: #FF4081;
}

.intro-subtitulo {
    margin-left: 82px;
    font-size: 20px;
    font-weight: 400;
    color: #555555;
}

.cursos {
    display: flex;
}

.img {
    width: 50%;
    margin-left: 112px;
    margin-top: 107px;
}

.item h2 {
    width: 65%;
    margin-top: 116px;
    margin-left: 53px;
    margin-bottom: 37px;
    font-size: 32px;
    font-weight: 700;
}

.item a {
    text-decoration: none;
    color: #FF4081;
}

.item a:hover {
    color: #b1003b;
}

.item p {
    margin-left: 53px;
    width: 50%;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
}

.botao-comecar {
    margin: 53px 0 53px 53px;
    width: 233px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 13px 9px;
    background-color: #419488;
    border-radius: 62px;
    color: #FFFFFF;
}

.botao-comecar a {
    background-color: #419488;
    color: #FFFFFF;
}

.botao-comecar a:hover {
    color: rgb(212, 212, 212);
}

.linha-divisoria {
    width: 86%;
    height: 5px;
    background-color: #C4C4C4;
    margin-top: 68px;
    margin-left: 5%;
    margin-right: 8%;
}

footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    margin: 0;
    font-size: 0.8rem;
    background-color: var(--color-principal);
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.logo-footer {
    display: flex;
    max-height: 4rem;
    padding: 0.8rem;
    margin: 0 0 0 1rem;
    background-color: var(--color-principal);
}

.div-logo-footer {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    background-color: var(--color-principal);
}

.nav-list-footer {
    display: flex;
    background-color: var(--color-principal);
}

.list-footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-principal);
    padding: 0.3rem;
    margin: 0 1rem 0 0;
    font-family: var(--font-family-principal);
}

.item-list-footer {
    display: flex;
    padding: 0.08rem;
    margin: 0.08rem;
    background-color: var(--color-principal);
}

.item-list-2 {
    display: flex;
    text-decoration: none;
    background-color: var(--color-principal);
    color: #FFF;
    max-height: 4rem;
}

.div-buttons-footer {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 0 1.5rem 0 0rem;
    background-color: var(--color-principal);
    max-height: 4rem;
}

.buttons-footer {
    display: flex;
    background-color: var(--color-principal);
    color: #FFF;
    padding: 0 0.15em 0 0.1em;
    margin: 0.15rem;
    border: 2px solid #FFFFFF;
    border-radius: 4rem;
    font-size: 0.9em;
    font-family: var(--font-family-principal);
    justify-content: space-evenly
}

@media only screen and (max-width: 800px) {
    .cursos {
        flex-direction: column;
    }

    .img {
        width: 80%;
        margin: 0;
        margin-bottom: 50px;
    }

    .intro-subtitulo {
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .linha-divisoria {
        margin-top: 90px;
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 640px) {
    .img-2 {
        margin: 0 0 0 2rem;
        width: 100%;
    }
}
