@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --color-principal: #2E948A;
    --color-secundaria: #FF4081;
    --font-family-principal: 'Ubuntu', sans-serif;
}

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFF;
    font-family: var(--font-family-principal);
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    background-color: var(--color-principal);
    align-items: center;
    padding: 0.7rem;
    margin: auto;
    font-size: 0.8rem;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.div-logo-header {
    display: flex;
    background-color: var(--color-principal);
    /* max-height: 3rem; */
}

.link-logo {
    display: flex;
    background-color: var(--color-principal);
}

.logo {
    display: flex;
    max-height: 3rem;
    padding: 0.5rem;
    margin: 0 0 0 1rem;
    background-color: var(--color-principal);
}

.nav-list-header {
    background-color: var(--color-principal);
}

.list-header {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    background-color: var(--color-principal);
}

.item-list-header {
    background-color: var(--color-principal);
    margin: 0 0.3rem 0 0;
}

.link-list-header {
    display: flex;
    text-decoration: none;
    padding: 0.2rem;
    background-color: var(--color-principal);
    color: #FFF;
    font-weight: bold;
    font-family: var(--font-family-principal);
    margin: 0 0.25rem 0 0;
}

main {
    display: flex;
    flex-direction: column;
}

.link-button {
    text-decoration: none;
}

.banner {
    display: flex;
    margin: 0 1rem 0 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.section-banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 50%;
}

.educacao-fianceira {
    display: flex;
    color: var(--color-secundaria);
    margin: 1.5rem 1rem 0.2rem 1.5rem;
    font-size: 1.9rem;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    font-weight: bold;
    font-family: var(--font-family-principal);
}

.vem-comigo {
    display: flex;
    font-size: 1rem;
    padding: 0.3rem;
    margin: 0.2rem 1rem 0.2rem 1.5rem;
    font-family: var(--font-family-principal);
}

.a-button {
    margin: 0.1rem 1rem 1.5rem;
}

.button-quero-saber-mais {
    display: flex;
    padding: 0 0.3em 0 0.3em;
    border: 2px solid var(--color-secundaria);
    border-radius: 4rem;
    color: var(--color-secundaria);
    font-size: 1rem;
    font-family: var(--font-family-principal);
    justify-content: space-evenly;
    cursor: pointer;
}

.section-img-banner {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: stretch;
    margin: 0 0 0 1rem;
}

.img-section-banner {
    display: flex;
    width: 110%;
    margin: 3rem 8rem 5rem -1.2rem;
}

.cursos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    background-color: #F6F6F6;
    ;
}

.section-cursos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 4rem 0;
}

.img-section-cursos {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem 0 1rem;
    width: 80%;
}

.title-section-cursos {
    display: flex;
    color: var(--color-secundaria);
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0.5rem 0 0.2rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font-family-principal);
}

.text-section-cursos {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-family-principal);
}

.button-comecar-agora {
    display: flex;
    padding: 0 0.3em 0 0.3em;
    border: 2px solid var(--color-secundaria);
    border-radius: 4rem;
    background-color: var(--color-secundaria);
    color: #FFF;
    font-size: 1rem;
    font-family: var(--font-family-principal);
    justify-content: space-evenly;
    cursor: pointer;
}

.depoimentos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.title-depoimentos {
    display: flex;
    color: var(--color-principal);
    font-size: 1.6rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 1.5em 0;
    font-weight: bold;
    font-family: var(--font-family-principal);

}

.section-depoimentos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 1rem 0rem 1rem;
}

.img-depoimentos {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    margin: 0 6.5rem 0.5rem 6.5rem;
    width: 40%;
}

.text-depoimentos {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    margin: 0rem 1rem 0rem 1rem;
    font-size: 1.2rem;
    font-family: var(--font-family-principal);
}

.name-depoimentos {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    margin: 0.3rem 0 2rem 0;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-family: var(--font-family-principal);
}

.mais-conteudos {
    Display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.title-mais-conteudos {
    display: flex;
    color: var(--color-principal);
    font-size: 1.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 0.5rem 2.5rem 0.5rem;
    font-weight: bold;
    font-family: var(--font-family-principal);
}

.section-quadrado-cinza {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
}

.quadrado-cinza {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    margin: 0 6.5rem 0.5rem 6.5rem;
    width: 60%;
}

.title-quadrado-mais-conteudo {
    display: flex;
    color: var(--color-principal);
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    margin: 0.2rem 1rem 0.2rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: var(--font-family-principal);
}

.text-quadrado-mais-conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    margin: 0.2rem 2.5rem 3.5rem 4rem;
    font-size: 1.1rem;
    font-family: var(--font-family-principal);
}

.div-button-mais-conteudos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.button-mais-conteudos {
    display: flex;
    padding: 0 0.3em 0 0.3em;
    margin: 0 0 2.5rem 0;
    border: 4px solid var(--color-secundaria);
    border-radius: 4rem;
    color: var(--color-secundaria);
    font-size: 1rem;
    font-family: var(--font-family-principal);
    font-style: normal;
    justify-content: space-evenly;
    font-weight: bold;
    cursor: pointer;
}

footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    margin: 0;
    font-size: 0.8rem;
    background-color: var(--color-principal);
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.logo-footer {
    display: flex;
    max-height: 4rem;
    padding: 0.8rem;
    margin: 0 0 0 1rem;
    background-color: var(--color-principal);
}

.div-logo-footer {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    background-color: var(--color-principal);
}

.nav-list-footer {
    display: flex;
    background-color: var(--color-principal);
}

.list-footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-principal);
    padding: 0.3rem;
    margin: 0 1rem 0 0;
    font-family: var(--font-family-principal);
}

.item-list-footer {
    display: flex;
    padding: 0.08rem;
    margin: 0.08rem;
    background-color: var(--color-principal);
}

.item-list-2 {
    display: flex;
    text-decoration: none;
    background-color: var(--color-principal);
    color: #FFF;
    max-height: 4rem;
}

.div-buttons-footer {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 0 1.5rem 0 0rem;
    background-color: var(--color-principal);
    max-height: 4rem;
}

.buttons-footer {
    display: flex;
    background-color: var(--color-principal);
    color: #FFF;
    padding: 0 0.15em 0 0.1em;
    margin: 0.15rem;
    border: 2px solid #FFFFFF;
    border-radius: 4rem;
    font-size: 0.9em;
    font-family: var(--font-family-principal);
    justify-content: space-evenly
}

@media screen and (min-width: 640px) {
    .div-logo-header {
        margin: 0 0 0 -0.5rem;
    }

    .list-header {
        margin: 0 0 0 2rem;
    }
}

@media screen and (max-width: 320px) {
    .img-section-banner {
        margin: 3rem 8rem 5rem 0rem;
    }

    .depoimentos {
        margin: 0 0.2rem 0 0.2rem;
    }

    .title-depoimentos {
        font-size: 1.4rem;
    }

    .title-mais-conteudos {
        font-size: 1.4rem;
    }

    .div-logo-footer {
        margin: 0 0 0 -1.2rem;
    }

    .nav-list-footer {
        margin: 0 0 0 -1.2rem;
    }

    .buttons-footer {
        width: 35%;
        margin: 0 0rem 0 -2.1rem;
    }
}

@media screen and (min-width: 1024px) {
    .section-banner {
        flex-direction: column;
        flex-wrap: wrap;
        margin: 11rem 1rem 0 3rem;
    }

    .educacao-fianceira {
        font-size: 3rem;
        margin: -15rem 0 0 2rem;
        padding: 1rem;
    }

    .vem-comigo {
        font-size: 1.8rem;
        margin: 0rem 2rem 2rem 3.3rem;
        padding: 0 10rem 0 0;
    }

    .button-quero-saber-mais {
        margin: 0 14rem 0 -10rem;
        margin: 0 14rem 0 1.5rem;
        font-size: 1.5rem;
    }

    .section-img-banner {
        width: 32%;
        margin: 1rem 5rem 3rem 0rem;
    }

    .img-section-banner {
        margin: 3rem 8rem 5rem -4rem;
    }

    .cursos {
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 2rem 8rem 2rem;
    }

    .section-cursos {
        margin: 0 1rem 0 1rem;
    }

    .img-section-cursos {
        margin: 0 1rem 2rem 1rem;
    }

    .img-section-cursos1 {
        width: 60%;
    }

    .title-section-cursos {
        margin: 0.5rem 0 0.5rem 0;
        font-size: 1.8rem;
        text-align: center;
    }

    .text-section-cursos {
        font-size: 1.2rem;
        margin: 0.5rem 1rem 1rem 1rem;
    }

    .button-comecar-agora {
        font-size: 1.2rem;
    }

    .depoimentos {
        margin: 0 1rem 0 1rem;
    }

    .section-depoimentos {
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 1rem 5.5rem 1rem;
    }

    .title-depoimentos {
        font-size: 3rem;
        margin: 0 0 1.5em -8em;
    }

    .img-depoimentos {
        margin: 0 0 0 0;
    }

    .text-depoimentos {
        font-size: 1.5rem;
    }

    .mais-conteudos {
        margin: 2rem 0 0 0;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .title-mais-conteudos {
        margin: 4rem 0rem 2.5rem -20rem;
        font-size: 3rem;
    }

    .quadrado-cinza {
        width: 80%;
    }

    .title-quadrado-mais-conteudo {
        font-size: 1.8rem;
    }

    .text-quadrado-mais-conteudo {
        font-size: 1.5rem;
        margin: 0.5rem 2.5rem 3.5rem 2.4rem;
    }

    .button-mais-conteudos {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1280px) {
    /* .educacao-fianceira {
        font-size: 4.5rem;
    } */

    .img-section-banner {
        margin: 3rem 8rem 5rem -8.2rem;
    }

    .button-quero-saber-mais {
        margin: 0 14rem 0 -6rem;
    }

    .title-section-cursos {
        font-size: 1.8rem;
    }

    .text-section-cursos {
        font-size: 1.5rem;
    }

    .button-comecar-agora {
        font-size: 1.5rem;
    }

    .title-depoimentos {
        margin: 0 0 1.5em -12em;
    }

    .title-mais-conteudos {
        margin: 4rem 0rem 2.5rem -34rem;
    }

    .title-quadrado-mais-conteudo {
        font-size: 2rem;
    }

    .text-quadrado-mais-conteudo {
        margin: 0.2rem 2.5rem 3.5rem 4rem;
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1920px) {
    .educacao-fianceira {
        font-size: 7rem;
    }

    .vem-comigo {
        font-size: 2.5rem;
    }

    .button-quero-saber-mais {
        margin: 0 14rem 0 -22rem;
        font-size: 2rem;
    }

    .title-section-cursos {
        font-size: 2.8rem;
    }

    .text-section-cursos {
        font-size: 2.2rem;
    }

    .button-comecar-agora {
        font-size: 2rem;
    }

    .title-depoimentos {
        font-size: 5rem;
        margin: 0 0 1.5em -10em;
    }

    .text-depoimentos {
        font-size: 2.5rem;
    }

    .name-depoimentos {
        font-size: 2.5rem;
    }

    .title-mais-conteudos {
        margin: 4rem 0rem 2.5rem -42rem;
        font-size: 5rem;
    }

    .quadrado-cinza {
        width: 80%;
    }

    .title-quadrado-mais-conteudo {
        font-size: 3.5rem;
        margin: 0 0 1rem 0;
    }

    .text-quadrado-mais-conteudo {
        font-size: 2.5rem;
        margin: 0.2rem 2.5rem 3.5rem 4rem;
    }

    .button-mais-conteudos {
        font-size: 2.5rem;
    }
}
